<tr>

  <td>
    <%= button_tag class: "btn btn-default btn-xs determine", "data-id" => collection.global_id do %>
    <%= bi_icon('link') %>
    <% end %>
  </td>
      <td><%= collection.name %></td>
      <td><%= collection.project %></td>
      <td><div><%= collection.timeseries? ? "Yes" : "No" %></div></td>
   <!--   <td></td>
      <td><%= collection.weather_conditions  %></td>
      <td><%= collection.comment %></td>-->
</tr>
