<div class="row">
  <div id="show-caption" class="col-lg-12">
    <%= @collection.name%>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="btn-toolbar tool-selector mb-2" role="toolbar">
      <div class="btn-group me-2">
	<%= link_to map_collection_path(@collection), class: "btn btn-outline-secondary btn-sm activate", remote: true do %>
	  <%= bi_icon('globe', size: '14px') %>
	<% end %>
      </div>    
      <% if can? :update, @place %>
      <div class="btn-group me-2">
	<%= link_to edit_collection_path(@collection), class: "btn btn-outline-secondary btn-sm", remote: true do %>
	  <%= bi_icon('pencil', size: '14px') %>
	<% end %>
	<%= link_to property_collection_path(@collection), class: "btn btn-outline-secondary btn-sm", remote: true do %>
	  <%= bi_icon('cog', size: '14px') %>
	<% end %>
      </div>
     <% end %>
    </div>
    <div class="tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <% 

    tab_info = [
        ["at-a-glance",nil],
   #     ["place",@collection.places],
        ["file",@collection.attachment_files]
 ] 
	
	%>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <% tab_info.each do |key,array,title| %>
       <li class="nav-item"><a class="nav-link<%= ' active' if active_if_current(key).present? %>" href="#<%= key %>" data-bs-toggle="tab"><%= (title.blank? ? key : title) + data_count(array) %></a></li>
      <% end %>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= ' active' if active_if_current(key).present? %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
  </div>
</div>
