<div>
<%= link_to_unless_current MeasurementItem.model_name.human.downcase,measurement_items_path %>    | 
<%= link_to_unless_current MeasurementCategory.model_name.human.downcase,measurement_categories_path %>    | 
<%= link_to_unless_current Unit.model_name.human.downcase,units_path %>   | 
<%= link_to_unless_current Technique.model_name.human.downcase,techniques_path %>   | 
<%= link_to_unless_current Device.model_name.human.downcase,devices_path %>   | 
<%= link_to_unless_current Author.model_name.human.downcase,authors_path %>
</div>
<br><br>

<%= paginate @measurement_categories %>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @measurement_categories.each do |measurement_category| %>
    <tr>
      <td>
        <%= link_to edit_measurement_category_path(measurement_category) do %>
        <%= bi_icon('edit') %>
        <% end %>
      </td>
      <td><%= measurement_category.name %></td>
      <td>
        <%= link_to duplicate_measurement_category_path(measurement_category), :method => :duplicate ,:title => "duplicate" do %>
          <%= bi_icon('plus-sign') %>
        <% end %>
      </td>
      <td>
        <%= link_to measurement_category_path(measurement_category), method: :delete, data: {confirm: t("confirm.delete")} do %>
        <%= bi_icon('remove') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for MeasurementCategory.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>
      <td>
        <%= f.button class: "btn btn-secondary btn-sm" do %>
        <%= bi_icon('save') %>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
