<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>quantity</th>
      <th>unit</th>
      <th></th>
 <% if @current_user.advanced then %>  
      <th>global-id</th>
 <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_stones_path, id: "stone-bundle-form" do %>
      <% @bib.stones.each do |stone| %>
        <tr>
          <td>
            <%= check_box_tag("ids[]", stone.id, false, {id: "ids_#{stone.id}", class: "select-row"}) if can?(:update, stone) %>
          </td>
          <td><%= link_to_if can?(:read, stone), stone.name,stone %></td>
          <td><%= stone.try!(:quantity) %></td>
          <td><%= stone.try!(:quantity_unit) %></td>
          <td></td>
 <% if @current_user.advanced then %>
	<td><%= stone.try!(:global_id) %></td> 
<% end %>	
          <td>
            <%= link_to bib_stone_path(@bib,stone) + tab_param(__FILE__), method: :delete ,title: "unlink stone",data: {confirm: t("confirm.unlink")} do %>
              <%= bi_icon('remove') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
        <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>        <th>Select all</th>    
    </tr>
  </tfoot>
</table>
<%= link_to "bundle edit", "#", onclick: "$('#stone-bundle-form').submit();; return false;", class: "btn btn-secondary" %>
<% if false %>
      <%= form_for Stone.new, url: bib_stones_path(@bib) do |f|%>
        <%= hidden_tabname_tag(__FILE__) %>
        <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th>
        <th><%= f.text_field :name, class: "form-control input-sm" %></th>
        <th><%= f.select :physical_form_id, PhysicalForm.order(:name).pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
        <th><%= f.text_field :quantity, class: "form-control input-sm" %></th>
        <th><%= f.text_field :quantity_unit, class: "form-control input-sm" %></th>
        <th>
          <%= f.button title:"add stone file",class: "btn btn-secondary" do %>
            <%= bi_icon('save') %>
          <% end %>
        </th>
      <% end %>
<% end %>
<hr>
<div>Link Sample</div>
       <%= form_tag link_by_global_id_bib_stones_path(@bib),method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>
        <div style="float:left; margin:5px">
	  <div class="input-group">
	    <%= select_tag :global_id, options_for_select(Stone.choose_global_id(@current_user)), { include_blank: true  , id: "stone-global-id", class: "form-control input-sm"} %>	  
	    <span class="input-group-text">
	      <%= link_to stones_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone-global-id" do %>
	      <%= bi_icon('search') %>
	      <% end %>
	    </span>
	  </div>
        </div>
        <div style="float:left; margin:5px">
          <%= button_tag title: "link stone by global id",class: "btn btn-secondary" do %>
            <%= bi_icon('save') %>
          <% end %>
        </div>
      <% end %>