<div class="row">
  <div id="show-caption" class="col-lg-12">
  <% if  @current_user.advanced then %>
	<%= @bib.name_with_id %>
  <% else %>
	<%= @bib.name %> 
  <% end %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="btn-toolbar mb-2" role="toolbar">
      <div class="btn-group me-2">
        <% if @bib.has_image? %>
          <%= link_to picture_bib_path(@bib), class: "btn btn-outline-secondary btn-sm", id: "picture-button", remote: true do %>
            <%= bi_icon('picture', size: '14px') %>
          <% end %>
        <% end %>
      </div>
      <% if can? :update, @bib %>
      <div class="btn-group me-2">
        <%= link_to edit_bib_path(@bib), class: "btn btn-outline-secondary btn-sm", id: "pencil-button", remote: true do %>
          <%= bi_icon('pencil', size: '14px') %>
        <% end %>
        <%= link_to property_bib_path(@bib), class: "btn btn-outline-secondary btn-sm", id: "cog-button", remote: true do %>
          <%= bi_icon('cog', size: '14px') %>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group me-2">
        <%= link_to download_label_bib_path(@bib), class: "btn btn-outline-secondary btn-sm", id: "tag-button" do %>
          CSV
        <% end %>
      </div>
    </div>
    <div class="tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
   <% if @current_user.advanced then %>   
            <% tab_info = [
                ["at-a-glance",nil],
                ["stone",@bib.stones,"sample"],
                ["box",@bib.boxes],
                ["place",@bib.places],
                ["analysis",@bib.analyses],
                ["file",@bib.attachment_files]] %>
   <% else %> 
            <% tab_info = [
                ["at-a-glance",nil],
                ["stone",@bib.stones,"sample"],
                ["file",@bib.attachment_files]] %>   
   <% end %>         
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <% tab_info.each do |key,array,title| %>
       <li class="nav-item"><a class="nav-link<%= ' active' if active_if_current(key).present? %>" href="#<%= key %>" data-bs-toggle="tab"><%= (title.blank? ? key : title) + data_count(array) %></a></li>
      <% end %>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= ' active' if active_if_current(key).present? %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
  </div>
</div>
