<!--<%= qrcode record.global_id %>
-->
<%= form_for record, remote: true, format: :json, html: { class: "update", role: "form" } do |form| %>
  <%= form.fields_for :record_property do |f| %>
    <div style="display:none" class="mb-3 mb-3-sm">
      <%= f.label :global_id, class: "small" %>
      <%= f.text_field :global_id, class: "form-control input-sm" %>
    </div>
    <div class="mb-3 mb-3-sm">
      <%= f.label :user_id, class: "small" %>
      <%= f.select :user_id, User.order(:username).pluck(:username, :id), {}, class: "form-control input-sm" %>
    </div>
    <div class="mb-3 mb-3-sm">
      <%= f.label :group_id, class: "small" %>
      <%= f.select :group_id, @current_user.groups.order(:name).pluck(:name, :id), {include_blank: true}, class: "form-control input-sm" %>
    </div>
    <div class="mb-3 mb-3-sm">
      <%= form.label :published_at, class: "small" %>
      <%= form.text_field :published_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div class="mb-3 mb-3-sm">
      <%= form.label :updated_at, class: "small" %>
      <%= form.text_field :updated_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div class="mb-3 mb-3-sm">
      <%= form.label :created_at, class: "small" %>
      <%= form.text_field :created_at, class: "form-control input-sm", disabled: true %>
    </div>
    <div style="display:none" class="mb-3 mb-3-sm">
      <label class="small">Owner</label>
      <%= f.label :owner_readable, class: "checkbox-inline" do %>
        <%= f.check_box :owner_readable %> read
      <% end %>
      <%= f.label :owner_writable, class: "checkbox-inline" do %>
        <%= f.check_box :owner_writable %> write
      <% end %>
    </div>
    <div class="mb-3 mb-3-sm">
      <label class="small">Group</label>
      <%= f.label :group_readable, class: "checkbox-inline" do %>
        <%= f.check_box :group_readable %> read
      <% end %>
      <%= f.label :group_writable, class: "checkbox-inline" do %>
        <%= f.check_box :group_writable %> write
      <% end %>
    </div>
    <div class="mb-3 mb-3-sm">
      <label class="small">Guest</label>
      <%= f.label :guest_readable, class: "checkbox-inline" do %>
        <%= f.check_box :guest_readable %> read
      <% end %>
      <%= f.label :guest_writable, class: "checkbox-inline" do %>
        <%= f.check_box :guest_writable %> write
      <% end %>
    </div>
    <div class="mb-3 mb-3-sm">
      <%= f.label :published, class: "checkbox-inline" do %>
        <%= f.check_box :published %> published
      <% end %>
    </div>
  <% end %>
  <%= form.button class: "btn btn-secondary btn-sm" do %>
  <%= bi_icon('save') %>
  <% end %>
  <%= link_to record_path(record.global_id), class: "btn btn-secondary", method: :delete , data: {confirm: t("confirm.delete")} do %>
  <%= bi_icon('remove') %>
  <% end %>
<% end %>
