<div>
<%= link_to_unless_current BoxType.model_name.human.downcase,box_types_path %>    | 
<%= link_to_unless_current StonecontainerType.model_name.human.downcase,stonecontainer_types_path %>
</div>
<br><br>

<%= paginate @box_types %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @box_types.each do |box_type| %>
    <tr>
      <td>
        <%= link_to edit_box_type_path(box_type) do %>
        <%= bi_icon('edit') %>
        <% end %>
      </td>
      <td><%= box_type.name %></td>
      <td></td>
      <td>
        <%= link_to box_type_path(box_type), method: :delete , data: {confirm: t("confirm.delete")} do %>
        <%= bi_icon('remove') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for BoxType.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>
      <td>
        <%= f.button class: "btn btn-default" do %>
        <%= bi_icon('save') %>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
