<ul>
  <% if @stone.place %>
    <% place = @stone.place.decorate %>
    <li>
      site: <%= place.try!(:latitude_to_text) + ", " + place.try!(:longitude_to_text) %> <%= link_to "more", place_path(place) %>
    </li>
  <% end %>
  
  <% if @stone.igsn.present? %>
	  <span> IGSN: 
		<%= @stone.igsn %>
                (registration not yet available)
<!--		<%= link_to igsn_register_stone_path(@stone), class: "btn btn-default", title:"register IGSN", id: "tag-button" do %>
		  <span class="glyphicon glyphicon-tag"></span>
		<% end %>-->
	  </span>
   <%else %>
	  <span> IGSN:
		<%= link_to igsn_create_stone_path(@stone), class: "btn btn-default", title:"create IGSN", id: "tag-button" do %>
		  Create
		  <% end %>
		</span>
   <% end %>
   
  <%= li_if_exist(Collection.model_name.human+": ", @stone.collection.try!(:name)) %> 
   <%= li_if_exist("material: ", @stone.classification.try!(:get_material)) %> 
   <%= li_if_exist("type: ", @stone.classification.try!(:name)) %>   
 <!-- <%= li_if_exist("physical_form: ", @stone.physical_form.try!(:name)) %>-->
  <%= li_if_exist("container type: ", @stone.stonecontainer_type.try!(:name)) %>
  <%= li_if_exist("quantity (#{@stone.quantity_unit}): ", @stone.quantity) %>
  <%= li_if_exist("tag list: ", @stone.tag_list) %>
<li> Preparations:<br>
        <% @stone.preparations.each do |preparation| %>
	<%=preparation.preparation_type.try!(:name)%> (<%=preparation.info%>)<br>
      <% end %>

</li>
  
  
  
  <li>modified at <%= difference_from_now(@stone.updated_at) %></li>
  <% if @stone.attachment_files.present? %>
    <li>
      <% @stone.attachment_files.each do |attachment_file| %>
        <%= attachment_file.decorate.image_link %>
      <% end %>
    </li>
  <% end %>
  <%= li_if_exist("", @stone.bibs.map{ |bib| content_tag(:span, nil, class: "glyphicon glyphicon-book") + raw(bib.to_html) + link_to_if(can?(:read, bib), " more", url_for(bib)) }.join(" ")) %>
  <% if @stone.attachment_pdf_files.present? %>
    <li>
      <% @stone.attachment_pdf_files.each do |attachment_pdf_file| %>
        <%= attachment_pdf_file.name %>
        <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
      <% end %>
    </li>
  <% end %>
</ul>

