<div class="display-type">
  <div id="display-type-html">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th></th>
          <th>name</th>
<!--
	<th>physical form</th>
-->
          <th>quantity</th>
          <th></th>
 <% if @current_user.advanced then %>  
      <th>global-id</th>
 <% end %>     
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= form_tag bundle_edit_stones_path, id: "stone-bundle-form" do %>
          <% @stone.children.each do |stone| %>
            <tr>
              <td>
                <%= check_box_tag("ids[]", stone.id, false, {id: "ids_#{stone.id}", class: "select-row"}) if can?(:update, stone) %>
              </td>
              <td><%= link_to_if can?(:read, stone), stone.name, stone %>
	              </td>
<!--      
              <td><%= stone.physical_form.try!(:name) %></td>
-->
		<td><%= stone.try!(:quantity) %> <%= stone.try!(:quantity_unit) %></td>
              <td></td>
 <% if @current_user.advanced then %>  
              <td><%= stone.try!(:global_id) %></td>
<% end %>
              <td>
                <%= link_to stone_daughter_path(@stone, stone) + tab_param(__FILE__), method: :delete, title: "unlink stone", data: {confirm: t("confirm.unlink")} do %>
                  <%= bi_icon('remove') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
            <%= hidden_tabname_tag(__FILE__) %>
            <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th><th>Select all</th>
        </tr>
      </tfoot>
    </table>
    
     
    <%= link_to "bundle edit", "#", onclick: "$('#stone-bundle-form').submit();; return false;", class: "btn btn-secondary btn-sm" %>
  </div>
  <div class="hidden" id="display-type-tex">
    <pre><code><%= @stone.to_tex %></code></pre>
  </div>
</div>
<% if @current_user.advanced then %>
<div class="btn-group">
  <a href="#display-type-html" class="btn radio-button-group">html</a>
  <a href="#display-type-tex" class="btn radio-button-group">tex</a>
</div>
<%end %>
<hr>
 <div >Enter Child sample to this sample</div>	
  <div >
          <%= form_for @daughter, url: stone_daughters_path(@stone) do |f|%>
		<%= render partial: "new", locals: { stone: @daughter, f: f, group_id: @daughterproperties.group_id} %>
          <% end %>
	  
        </div>    
<hr style="clear:both">
 <div style="clear:both">Link Child sample to this sample</div>	
	  <div >
          <%= form_tag link_by_global_id_stone_daughters_path(@stone), method: :post do %>
            <%= hidden_tabname_tag(__FILE__) %>
	      <div style="float:left; margin:5x">
			<div class="input-group">
			<%= select_tag :global_id, options_for_select(Stone.choose_global_id(@current_user)), { include_blank: true  , id: "daughter-global-id", class: "form-control input-sm"} %>				
			<span class="input-group-text">
			  <%= link_to stones_path(per_page: 10, format: :modal), "data-bs-toggle" => "modal", "data-bs-target" => "#search-modal", "data-input" => "#daughter-global-id" do %>
			  <%= bi_icon('search') %>
			  <% end %>
			</span>
		      </div>
	    </div>
	     <div style="float:left; margin-top:0px; margin-left:5px">
				  <div>	     
					      <%= button_tag title: "link sample by global id", class: "btn btn-secondary btn-sm" do %>
						<%= bi_icon('save') %>
					      <% end %>
				  </div>
		      
            </div>
          <% end %>
	  </div>
	  
    

