
<fieldset class="stonefieldset">
<legend>Identification</legend>

   <div class="form-group form-group-sm" >
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm", placeholder: "- required -" %>
  </div>
    <div class="form-group form-group-sm" style="width:200px">
	  <%= f.label :parent, class: "small" , size: 15 %>
	  <div class="input-group">
		<%= f.select :parent_global_id, Stone.choose_global_id(@current_user), { include_blank: true  }, class: "form-control input-sm" %>      
	      <span class="input-group-addon">
		<%= link_to stones_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_parent_global_id" do %>
		<span class="glyphicon glyphicon-search"></span>
		<% end %>
	      </span>
	    </div>
   </div>
   
     <div class="form-group form-group-sm">
    <%= f.label :igsn,  class: "small" %>
    <%= f.text_field :igsn, class: "form-control input-sm" %>
  </div>  
  
      <div class="form-group form-group-sm" style="display:none">
    <%= f.label :tag_list, class: "small" %>
    <%= f.text_field :tag_list, class: "form-control input-sm" %>
  </div> 
</fieldset>

<fieldset class="stonefieldset">
<legend>Acquisition</legend>


   <div class="form-group form-group-sm">
    <%= f.label :collectionmethod_id, class: "small" %>
    <%= f.select :collectionmethod_id, Collectionmethod.order(:name).pluck(:name,:id), { include_blank: true }, class: "form-control input-sm" %>
  </div> 


  <div class="form-group form-group-sm">
    <%= f.label :classification_id,Classification.model_name.human, class: "small" %>
    <div class="input-group">
      <%= f.select :classification_id, Classification.order(:full_name).pluck(:full_name, :id).sort, { :prompt =>  '- required -' },  class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to classifications_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_classification_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div>
  
     <div class="form-group form-group-sm" style="display:none">
    <%= f.label :physical_form_id,PhysicalForm.model_name.human, class: "small" %>
    <div class="input-group">
      <%= f.select :physical_form_id, PhysicalForm.order(:name).pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to physical_forms_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_physical_form_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>   
  </div>
  
  <div class="form-group form-group-sm">
    <%= f.label :place_global_id, class: "small" %>
    <div class="input-group">
    
      <%= f.select :place_global_id, Place.choose_global_id(@current_user), { :prompt =>  '- required -'  }, class: "form-control input-sm" %>         
      <span class="input-group-addon">
	<%= link_to places_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_place_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
    </div>


   <div class="form-group form-group-sm">
    <%= f.label :collection_global_id,  class: "small" %>   	
    <div class="input-group">
      <%= f.select :collection_global_id, Collection.choose_global_id(@current_user), { :prompt =>  '- required -'  }, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to collections_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_collection_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div> 
  
    <div class="form-group form-group-sm">
    <%= f.label :sampledepth, class: "small" %>
    <%= f.text_field :sampledepth, class: "form-control input-sm", placeholder: "- required -", :title => 'above (+) or below (-)' %>
  </div>
  

   <div class="form-group form-group-sm">
    <%= f.label :date, class: "small" %>
    <%= f.text_field :date, class: "form-control input-sm datepicker", placeholder: "- required -" %>
  </div>



  <div class="form-group form-group-sm">
    <%= f.label :quantityunit_id, class: "small" %>
    <%= f.select :quantityunit_id, Quantityunit.order(:name).pluck(:name, :id), { :prompt =>  '- required -' }, class: "form-control input-sm" %>
  </div>  
    <div class="form-group form-group-sm">
    <%= f.label :quantity_initial, class: "small" %>
    <%= f.text_field :quantity_initial, placeholder: "- required -", class: "form-control input-sm" %>
  </div>
  <div class="form-group form-group-sm">
    <%= f.label :quantity, class: "small" %>
    <%= f.text_field :quantity, class: "form-control input-sm" %>
  </div>
</fieldset>


<fieldset class="stonefieldset">
<legend>Storage</legend>

  <div class="form-group form-group-sm">
    <%= f.label :labname, class: "small" %>
    <%= f.text_field :labname, class: "form-control input-sm" %>
  </div>    
  <div class="form-group form-group-sm">
    <%= f.label :box_global_id, class: "small" %>
    <div class="input-group">
      <%= f.select :box_global_id, Box.choose_global_id(@current_user), { :prompt =>  '- required -'  }, class: "form-control input-sm" %>      
      <span class="input-group-addon">
	<%= link_to boxes_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_box_global_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>
  </div>  
  
     <div class="form-group form-group-sm">
    <%= f.label :container_id, class: "small" %>   
    <div class="input-group">
      <%= f.select :stonecontainer_type_id, StonecontainerType.order(:name).pluck(:name, :id), { :prompt =>  '- required -' }, class: "form-control input-sm" %>
      <span class="input-group-addon">
	<%= link_to stonecontainer_types_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#stone_stonecontainer_type_id" do %>
	<span class="glyphicon glyphicon-search"></span>
	<% end %>
      </span>
    </div>       
  </div> 
</fieldset>

<fieldset class="stonefieldset">
<legend>Description</legend>

	<div class="form-group form-group-sm placedescription">
	    <%= f.label :description, class: "small" %>
	    <%= f.text_area  :description, class: "form-control input-sm", row: 3 %>
	</div>  

</fieldset>

<fieldset class="stonefieldset">
<legend>Metadata Access</legend>

	  <div style="display:none" class="form-group form-group-sm">
	  <%= f.label :@current_user, "Owner", class: "small" %>
	    <div class="input-group">
		<span class="input-group-addon">		      
			<%= @current_user.username %>
		</span>
	    </div>  
	</div>

	  <div class="form-group form-group-sm">
		  <%= f.fields_for :record_property_attributes do |r| %>
			  <label class="small">Group</label>
			  <div >
					    <%= r.select :group_id ,@current_user.groups.order(:name).pluck(:name, :id), {selected: group_id,  include_blank: true }, class: "form-control input-sm" %>
					    <%= r.hidden_field :user_id ,value: @current_user.id %>
		                            <%= r.hidden_field :guest_readable , value: "true" %>					    
			  </div>
		  <% end %>
	</div>

</fieldset>



<fieldset class="collectorfieldset">
<legend>Collectors</legend>
		<div>
		     <%= f.fields_for :collectors do |collector| %>
			 <%= render "collector_fields", :f => collector %>
		     <% end %>
		</div>

		<%= link_to_add_fields "add collector", "test", f, :collectors %>

</fieldset>

<div >


	  <div class="form-group form-group-sm">
		  <label class="small">Save</label>
		  <div>
		    <%= f.button class: "btn btn-default" do %>
		    <span class="glyphicon glyphicon-save"></span>
		    <% end %>
		  </div>
	</div>
	
</div>



