
<div class="row">
  <div id="show-caption" class="col-lg-12">
  <% if  @current_user.advanced then %>
	<%= @stone.name_with_id %>
  <% else %>
	<%= @stone.name %> 
  <% end %>
  </div>
</div>
<div class="row">
  <div id="show-tools" class="col-lg-4">
    <div class="btn-toolbar tool-selector mb-2" role="toolbar">
      <div class="btn-group me-2">
        <%= link_to family_stone_path(@stone), class: "btn btn-outline-secondary btn-sm activate", id: "tree-conifer-button", remote: true do %>
          <%= bi_icon('tree-conifer', size: '14px') %>
        <% end %>
        <% if @stone.has_image? %>
          <%= link_to picture_stone_path(@stone), class: "btn btn-outline-secondary btn-sm", id: "picture-button", remote: true do %>
            <%= bi_icon('picture', size: '14px') %>
          <% end %>
        <% end %>
        <%= link_to map_stone_path(@stone), class: "btn btn-outline-secondary btn-sm", id: "globe-button", remote: true do %>
          <%= bi_icon('globe', size: '14px') %>
        <% end %>
      </div>
      <% if can? :update, @stone %>
      <div class="btn-group me-2">
        <%= link_to edit_stone_path(@stone), class: "btn btn-outline-secondary btn-sm", id: "pencil-button", remote: true do %>
          <%= bi_icon('pencil', size: '14px') %>
        <% end %>
        <%= link_to property_stone_path(@stone), class: "btn btn-outline-secondary btn-sm", id: "cog-button", remote: true do %>
          <%= bi_icon('cog', size: '14px') %>
        <% end %>
      </div>
      <% end %>
      <div class="btn-group me-2">
        <%= link_to download_label_stone_path(@stone), class: "btn btn-outline-secondary btn-sm", id: "tag-button" do %>
          CSV
        <% end %>
        <%= link_to download_card_stone_path(@stone), class: "btn btn-outline-secondary btn-sm", id: "file-button" do %>
          <%= bi_icon('file', size: '14px') %>
        <% end %>
      </div>
    </div>
    <div class="tool-content">
    </div>
  </div>
  <div id="show-body" class="col-lg-8">
    <%= @stone.path %>
    <% if @current_user.advanced then %>       
            <% tab_info = [
                ["at-a-glance",nil],
                ["daughter",@stone.children],
                ["analysis",@stone.analyses,"analyses"],
                ["bib",@stone.bibs],
                ["file",@stone.attachment_files],
	        ["preparation",@stone.preparations]] %>
    <% else %>   		
            <% tab_info = [
                ["at-a-glance",nil],
                ["daughter",@stone.children],
                ["bib",@stone.bibs],
                ["file",@stone.attachment_files],
	        ["preparation",@stone.preparations]] %>	
	
    <% end %>   	
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <% tab_info.each do |key,array,title| %>
       <li class="nav-item"><a class="nav-link<%= ' active' if active_if_current(key).present? %>" href="#<%= key %>" data-bs-toggle="tab"><%= (title.blank? ? key : title)  + data_count(array) %></a></li>
      <% end %>

    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <% tab_info.each do |key,array| %>
        <div class="tab-pane<%= ' active' if active_if_current(key).present? %>" id="<%= key %>"><%= render partial: key.underscore %></div>
      <% end %>
    </div>
  </div>
</div>
