<%= form_for @collectionmethod, html: {class: "col-lg-3"} do |f| %>
  <%= error_notification(@collectionmethod.errors) %>

 <div class="form-classification form-classification-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm" %>
  </div>

  <%= f.submit "update", class: "btn btn-sm" %>
  <%= link_to "cancel", collectionmethods_path, class: "btn btn-sm" %>
<% end %>