<div>
<%= link_to_unless_current BoxType.model_name.human.downcase,box_types_path %>    | 
<%= link_to_unless_current StonecontainerType.model_name.human.downcase,stonecontainer_types_path %>
</div>
<br><br>

<%= paginate @stonecontainer_types %>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th></th>
      <th>collection method</th>   
    </tr>
  </thead>
  <tbody>
    <% @stonecontainer_types.each do |stonecontainer_type| %>
    <tr>
      <td>
        <%= link_to edit_stonecontainer_type_path(stonecontainer_type) do %>
        <%= bi_icon('edit') %>
        <% end %>
      </td>
      <td><%= stonecontainer_type.name  %></td>
      <td></td>
      <td>
        <%= link_to stonecontainer_type_path(stonecontainer_type), method: :delete, data: {confirm: t("confirm.delete")} do %>
        <%= bi_icon('remove') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for StonecontainerType.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>      
      <td>
        <%= f.button class: "btn btn-secondary" do %>
        <%= bi_icon('save') %>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>