<div>
<%= link_to_unless_current Classification.model_name.human.downcase,classifications_path %>  | 
<%= link_to_unless_current PreparationType.model_name.human.downcase,preparation_types_path %>  | 
<%= link_to_unless_current PreparationForClassification.model_name.human.downcase,preparation_for_classifications_path %> |  
<%= link_to_unless_current Preparation.model_name.human.downcase,preparations_path %> |
<%= link_to_unless_current Collectionmethod.model_name.human.downcase,collectionmethods_path %> |
<%= link_to_unless_current Quantityunit.model_name.human.downcase,quantityunits_path %>  
</div>
<br><br>
<%= paginate @preparation_for_classifications %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @preparation_for_classifications.each do |preparation_for_classification| %>
    <tr>
      <td>
        <%= link_to edit_preparation_for_classification_path(preparation_for_classification) do %>
        <%= bi_icon('edit') %>
        <% end %>
      </td>
      <td><%= preparation_for_classification.classification.try!(:full_name)  %></td>
      <td><%= preparation_for_classification.preparation_type.try!(:full_name)   %></td>
      <td></td>
      <td>
        <%= link_to preparation_for_classification_path(preparation_for_classification), method: :delete, data: {confirm: t("confirm.delete")} do %>
        <%= bi_icon('remove') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
    <%= form_for PreparationForClassification.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.select :classification_id, Classification.order(:full_name).pluck(:full_name,:id), { include_blank: true }, class: "form-control input-sm" %></td>
      <td><%= f.select :preparation_type_id, PreparationType.order(:full_name).pluck(:full_name,:id), { include_blank: true }, class: "form-control input-sm" %></td>      
      <td>
        <%= f.button class: "btn btn-default" do %>
        <%= bi_icon('save') %>
        <% end %>
      </td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </tfoot>
</table>
