<tr>
  <td>
    <%= button_tag class: "btn btn-secondary btn-sm determine", "data-id" => analysis.global_id do %>
    <%= bi_icon('link') %>
    <% end %>
  </td>
  <td><%= link_to analysis.name, analysis_path(analysis, format: :modal), "data-bs-toggle" => "modal", "data-bs-target" => "#show-modal" %></td>
  <td><%= analysis.device.try!(:name) %></td>
  <td>
  <% analysis.stones.each do |stone|%>
  <%= link_to stone.name,stone %>
  <% end %>
  </td>
  <td><%= raw(analysis.chemistry_summary) %></td>
  <td><%= analysis.group.try!(:name) %></td>
  <td><%= difference_from_now(analysis.updated_at) %></td>
</tr>
