<ul>
  <%= li_if_exist 'technique: ', @analysis.technique.try!(:name) %>
  <%= li_if_exist 'device: ', @analysis.device.try!(:name) %>
  <%= li_if_exist 'operator: ', @analysis.try!(:operator) %>
  <%= li_if_exist 'description: ', @analysis.try!(:description) %>
  <li>modified at <%= difference_from_now(@analysis.updated_at) -%></li>
  <li>samples:
  <% @analysis.stones.each do |stone|%>
  <%= link_to_if can?(:read, stone), stone.name, stone_path(stone) %>
  <% end %>
  </li>
  <% unless @analysis.bibs.empty? %>
    <li>references:</li>
    <ul>
      <% BibDecorator.decorate_collection(@analysis.bibs).each do |bib| %>
        <li>
          <%== bib.to_html %>
          <%= link_to_if can?(:read, bib), "more", bib %>
          <% if bib.primary_pdf_attachment_file %>
            <%= link_to_if(can?(:read, bib.primary_pdf_attachment_file), image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(bib.primary_pdf_attachment_file)) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @analysis.attachment_pdf_files.present? %>
    <li>
      <% @analysis.attachment_pdf_files.each do |attachment_pdf_file| %>
        <%= attachment_pdf_file.name %>
        <%= link_to(image_tag("icon_pdf_1.png", size: "24x24"), download_attachment_file_path(attachment_pdf_file.id), id: "file-#{attachment_pdf_file.id}-button") %>
      <% end %>
    </li>
  <% end %>
</ul>



