<% if @analyses.present? %>
  <% analysis_ids = @analyses.pluck(:id) %>
  <div class="text-right">
1 in <%= link_to 'table',table_analyses_path(ids: analysis_ids)  %>
 and <%= link_to 'casteml',castemls_analyses_path(ids: analysis_ids)  %>
  </div>
<% end %>
<%= form_for Analysis.new, url: bundle_update_analyses_path do |f| %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>operator</th>
      <th>device</th>
      <th>sample</th>
      <th>summary</th>
      <%= th_if_expand "owner" %>
      <th>group</th>
      <%= th_if_expand "published" %>
      <th>updated-at</th>
      <%= th_if_expand "created-at" %>
      <th><%= toggle_column_link method: "post" %></th>
    </tr>
    </thead>
  <tbody>
    <%= render partial: :analysis, collection: @analyses, locals: { checked: true } %>
  </tbody>
  <tfoot>
    <tr>
      <th><%= check_box_tag nil, nil, true, class: "select-row-all" %></th>
      <th></th>
        <th><%= f.text_field :operator, class: "form-control input-sm", size: 15 %></th>
      <th><%= f.select :device_id, Device.order(:name).pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
      <th>
	<div class="input-group">
	  <%= f.text_field :stone_global_id, class: "form-control input-sm" %>
	  <span class="input-group-addon">
	    <%= link_to stones_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#analysis_stone_global_id" do %>
	    <%= bi_icon('search') %>
	    <% end %>
	  </span>
	</div>
      </th>
      <th></th>
      <%= th_if_expand do %>
        <%= f.select :user_id ,User.order(:username).pluck(:username, :id), { include_blank: true }, class: "form-control input-sm" %>
      <% end %>

      <th><%= f.select :group_id ,@current_user.groups.order(:name).pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %></th>
      <%= th_if_expand do %>
        <%= f.select :published ,[true, false], { include_blank: true }, class: "form-control input-sm" %>
      <% end %>
      <th>
        <%= f.button class: "btn btn-default" do %>
          <%= bi_icon('save') %>
        <% end %>
      </th>
      <th></th>
    </tr>
  </tfoot>
</table>
<% end %>
