<p id="notice"><%= notice %></p>

<p>
  <strong>Collection name:</strong>
  <%= @staging.collection_name %>
</p>

<p>
  <strong>Collection project:</strong>
  <%= @staging.collection_project %>
</p>

<p>
  <strong>Collection collector:</strong>
  <%= @staging.collection_collector %>
</p>

<p>
  <strong>Collection affiliation:</strong>
  <%= @staging.collection_affiliation %>
</p>

<p>
  <strong>Collection timeseries:</strong>
  <%= @staging.collection_timeseries %>
</p>

<p>
  <strong>Collection start:</strong>
  <%= @staging.collection_start %>
</p>

<p>
  <strong>Collection end:</strong>
  <%= @staging.collection_end %>
</p>

<p>
  <strong>Collection depth min:</strong>
  <%= @staging.collection_depth_min %>
</p>

<p>
  <strong>Collection depth max:</strong>
  <%= @staging.collectin_depth_max %>
</p>

<p>
  <strong>Collection comment:</strong>
  <%= @staging.collection_comment %>
</p>

<p>
  <strong>Place name:</strong>
  <%= @staging.place_name %>
</p>

<p>
  <strong>Place latitude:</strong>
  <%= @staging.place_latitude %>
</p>

<p>
  <strong>Place longitude:</strong>
  <%= @staging.place_longitude %>
</p>

<p>
  <strong>Place elevation:</strong>
  <%= @staging.place_elevation %>
</p>

<p>
  <strong>Place topographic position:</strong>
  <%= @staging.place_topographic_position %>
</p>

<p>
  <strong>Place slopedescription:</strong>
  <%= @staging.place_slopedescription %>
</p>

<p>
  <strong>Place aspect:</strong>
  <%= @staging.place_aspect %>
</p>

<p>
  <strong>Place vegetation:</strong>
  <%= @staging.place_vegetation %>
</p>

<p>
  <strong>Place landuse:</strong>
  <%= @staging.place_landuse %>
</p>

<p>
  <strong>Place description:</strong>
  <%= @staging.place_description %>
</p>

<p>
  <strong>Place weather:</strong>
  <%= @staging.place_weather %>
</p>

<p>
  <strong>Place lightsituation:</strong>
  <%= @staging.place_lightsituation %>
</p>

<p>
  <strong>Box name:</strong>
  <%= @staging.box_name %>
</p>

<p>
  <strong>Box parent:</strong>
  <%= @staging.box_parent %>
</p>

<p>
  <strong>Box type:</strong>
  <%= @staging.box_type %>
</p>

<p>
  <strong>Sample name:</strong>
  <%= @staging.sample_name %>
</p>

<p>
  <strong>Sample igsn:</strong>
  <%= @staging.sample_igsn %>
</p>

<p>
  <strong>Sample labname:</strong>
  <%= @staging.sample_labname %>
</p>

<p>
  <strong>Sample date:</strong>
  <%= @staging.sample_date %>
</p>

<p>
  <strong>Sample depth:</strong>
  <%= @staging.sample_depth %>
</p>

<p>
  <strong>Sample collectionmethod:</strong>
  <%= @staging.sample_collectionmethod %>
</p>

<p>
  <strong>Sample comment:</strong>
  <%= @staging.sample_comment %>
</p>

<p>
  <strong>Sample parent:</strong>
  <%= @staging.sample_parent %>
</p>

<p>
  <strong>Sample material:</strong>
  <%= @staging.sample_material %>
</p>

<p>
  <strong>Sample classification:</strong>
  <%= @staging.sample_classification %>
</p>

<p>
  <strong>Sample container:</strong>
  <%= @staging.sample_container %>
</p>

<p>
  <strong>Sample quantityinitial:</strong>
  <%= @staging.sample_quantityinitial %>
</p>

<p>
  <strong>Sample unit:</strong>
  <%= @staging.sample_unit %>
</p>

<p>
  <strong>Sample quantity:</strong>
  <%= @staging.sample_quantity %>
</p>

<p>
  <strong>Treatment monitor1:</strong>
  <%= @staging.treatment_monitor1 %>
</p>

<p>
  <strong>Treatment monitor2:</strong>
  <%= @staging.treatment_monitor2 %>
</p>

<p>
  <strong>Treatment monitor3:</strong>
  <%= @staging.treatment_monitor3 %>
</p>

<p>
  <strong>Treatment preparation1:</strong>
  <%= @staging.treatment_preparation1 %>
</p>

<p>
  <strong>Treatment preparation2:</strong>
  <%= @staging.treatment_preparation2 %>
</p>

<p>
  <strong>Treatment preparation3:</strong>
  <%= @staging.treatment_preparation3 %>
</p>

<p>
  <strong>Treatment strategy:</strong>
  <%= @staging.treatment_strategy %>
</p>

<p>
  <strong>Treatment analyticalmethod:</strong>
  <%= @staging.treatment_analyticalmethod %>
</p>

<p>
  <strong>Treatment comment:</strong>
  <%= @staging.treatment_comment %>
</p>

<%= link_to 'Edit', edit_staging_path(@staging) %> |
<%= link_to 'Back', stagings_path %>
