<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>operator</th>
      <th>device</th>
      <th></th>
      <th>size</th>
      <th>global-id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_analyses_path, id: "analysis-bundle-form" do %>
      <% @attachment_file.analyses.each do |analysis| %>
        <tr>
          <td>
            <%= check_box_tag("ids[]", analysis.id, false, {id: "ids_#{analysis.id}", class: "select-row"}) if can?(:update, analysis) %>
          </td>
          <td><%= link_to_if can?(:read, analysis), analysis.name, analysis %></td>
          <td><%= analysis.try!(:operator) %></td>
          <td><%= analysis.device.try!(:name) %></td>
          <td></td>
          <td><%= analysis.chemistries.size %></td>
          <td><%= analysis.try!(:global_id) %></td> 
          <td>
            <%= link_to attachment_file_analysis_path(@attachment_file,analysis) + tab_param(__FILE__), method: :delete ,title: "unlink analysis",data: {confirm: t("confirm.unlink")} do %>
              <%= bi_icon('remove') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
        <%= hidden_tabname_tag(__FILE__) %>
        <th><%= check_box_tag nil, nil, false, class: "select-row-all" %></th><th>Select all</th>
    </tr>
  </tfoot>
</table>
<%= link_to "edit", "#", onclick: "$('#analysis-bundle-form').submit();; return false;", class: "btn btn-secondary" %>
<hr>
 <div style="clear:both">Create analysis</div>	


      <%= form_for Analysis.new, url: attachment_file_analyses_path(@attachment_file) do |f|%>
        <%= hidden_tabname_tag(__FILE__) %>
        
     <div class="mb-3 mb-3-sm" style="width:200px;float:left">
            <%= f.label :name,  class: "small" %>
            <%= f.text_field :name, class: "form-control input-sm" %>
     </div>          
     <div class="mb-3 mb-3-sm" style="width:200px;float:left;margin-left:10px">
            <%= f.label :operator,  class: "small" %>
            <%= f.text_field :operator, class: "form-control input-sm" %>
     </div>           
        
   <div class="mb-3 mb-3-sm" style="width:150px;float:left;margin-left:10px">
    <%= f.label :device_id, class: "small" %>
    <%= f.select :device_id, Device.order(:name).pluck(:name, :id), { include_blank: true }, class: "form-control input-sm" %>
  </div> 

  <div style="float:left;margin-left:10px;margin-top:17px">
          <%= f.button title:"add analysis file",class: "btn btn-secondary" do %>
            <%= bi_icon('save') %>
          <% end %>
</div>

      <% end %>


 <div style="clear:both">Link analysis from inventory</div>	

      <%= form_tag link_by_global_id_attachment_file_analyses_path(@attachment_file),method: :post do %>
        <%= hidden_tabname_tag(__FILE__) %>

	  <div class="input-group" style="float:left;width:190px">
   	    <%= select_tag :global_id, options_for_select(Analysis.choose_global_id(@current_user)), { include_blank: true  , id: "analysis-global-id", class: "form-control input-sm"} %>
	    <span class="input-group-text">
	      <%= link_to analyses_path(per_page: 10, format: :modal), "data-toggle" => "modal", "data-target" => "#search-modal", "data-input" => "#analysis-global-id" do %>
	      <%= bi_icon('search') %>
	      <% end %>
	    </span>
	  </div>	  
  <div style="float:left;margin-left:10px">
          <%= button_tag title: "link analysis by global id",class: "btn btn-secondary" do %>
            <%= bi_icon('save') %>
          <% end %>
  </div>
      <% end %>
