<%= paginate @vegetations %>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= Vegetation.model_name.human %></th>
    </tr>
     </thead>
  <tbody>
    <% @vegetations.each do |vegetation| %>
    <tr>
      <td>
        <%= link_to edit_vegetation_path(vegetation) do %>
        <%= bi_icon('edit') %>
        <% end %>
      </td>
        <td><%= vegetation.name %></td>
      <td>
        <%= link_to vegetation_path(vegetation), method: :delete, data: {confirm: t("confirm.delete")} do %>
        <%= bi_icon('remove') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
  
    <%= form_for Vegetation.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>  
      <td>
        <%= f.button class: "btn btn-secondary" do %>
        <%= bi_icon('save') %>
        <% end %>
      </td>
    </tr>
    
    <% end %>
  </tfoot>
</table>
