<%= paginate @topographic_positions %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= TopographicPosition.model_name.human %></th>
    </tr>
     </thead>
  <tbody>
    <% @topographic_positions.each do |topographic_position| %>
    <tr>
      <td>
        <%= link_to edit_topographic_position_path(topographic_position) do %>
        <%= bi_icon('edit') %>
        <% end %>
      </td>
        <td><%= topographic_position.name %></td>
      <td>
        <%= link_to topographic_position_path(topographic_position), method: :delete, data: {confirm: t("confirm.delete")} do %>
        <%= bi_icon('remove') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
  
    <%= form_for TopographicPosition.new, remote: true, format: :json, html: { class: "create" } do |f| %>
    <tr>
      <td></td>
      <td><%= f.text_field :name, class: "form-control input-sm" %></td>  
      <td>
        <%= f.button class: "btn btn-default" do %>
        <%= bi_icon('save') %>
        <% end %>
      </td>
    </tr>
    
    <% end %>
  </tfoot>
</table>
