<%= paginate @classifications, remote: true %>
<%= search_form_for @search, url: polymorphic_path(@search.klass, format: :modal), remote: true do |f| %>
<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>
        <%= f.button class: "btn btn-secondary btn-sm" do %>
        <%= bi_icon('refresh') %>
        <% end %>
      </th>      
      <th><%= sort_link @search, :full_name, "fullname", { format: :modal }, remote: true %></th>
      <th><%= sort_link @search, :name, "name", { format: :modal }, remote: true %></th>

    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || Stone.default_per_page), size: 4, readonly: true %></th>
      <th><%= f.text_field :full_name_cont, size: 15 %></th>
      <th><%= f.text_field :name_cont, size: 15 %></th>		
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "classification", collection: @classifications, locals: { checked: false } %>
  </tbody>
</table>
<% end %>

