
<fieldset class="stonefieldset">
<legend>Identification</legend>
<% if current_user.admin? %>
   <div class="mb-3 mb-3-sm place-is-parent-div" style="width:65px">
	<%= f.label :is_parent, class: "small" %>  
	<%= f.check_box :is_parent, {class: "place-is-parent"}, true, false %>
   </div>
<% end %>  
   <div class="mb-3 mb-3-sm">
    <%= f.label :name, class: "small" %>
    <%= f.text_field :name, class: "form-control input-sm", placeholder: "- required -" %>
  </div>
  
   <div class="mb-3 mb-3-sm place-is-parent-select" >
	  <%= f.label :parent, class: "small" , size: 15 %>
	  <div class="input-group">
		<%= f.select :parent_global_id, Place.choose_parent_global_id(@current_user), { :prompt =>  '- required -' }, class: "form-control input-sm" %>      
	    </div>
   </div>
 
   <div class="mb-3 mb-3-sm place-is-parent-select">
    <%= f.label :latitude, class: "small" %>
    <%= f.text_field :latitude, class: "form-control input-sm", placeholder: "- required -", size: 15 %>
  </div>

   <div class="mb-3 mb-3-sm place-is-parent-select">
    <%= f.label :longitude, class: "small" %>
    <%= f.text_field :longitude, class: "form-control input-sm", placeholder: "- required -", size: 15 %>
  </div>

   <div class="mb-3 mb-3-sm place-is-parent-select">
    <%= f.label :elevation, class: "small"%>
    <%= f.text_field :elevation, class: "form-control input-sm", placeholder: "- required -", size: 15 %>
  </div>
    


</fieldset>

<fieldset class="stonefieldset">
<legend>Classification</legend>

   <div class="mb-3 mb-3-sm">
    <%= f.label :topographic_position_id, class: "small" %>   
    <div class="input-group">
      <%= f.select :topographic_position_id, TopographicPosition.order(:name).pluck(:name, :id), { :prompt =>  '- required -' }, class: "form-control input-sm" %>
      <span class="input-group-text">
	<%= link_to topographic_positions_path(per_page: 10, format: :modal), "data-bs-toggle" => "modal", "data-bs-target" => "#search-modal", "data-input" => "#place_topographic_position_id" do %>
	<%= bi_icon('search') %>
	<% end %>
      </span>
    </div>      
    </div>
    
   <div class="mb-3 mb-3-sm">
    <%= f.label :vegetation_id, class: "small" %>   
    <div class="input-group">
      <%= f.select :vegetation_id, Vegetation.order(:name).pluck(:name, :id),  { include_blank: true }, class: "form-control input-sm" %>
      <span class="input-group-text">
	<%= link_to vegetations_path(per_page: 10, format: :modal), "data-bs-toggle" => "modal", "data-bs-target" => "#search-modal", "data-input" => "#place_vegetation_id" do %>
	<%= bi_icon('search') %>
	<% end %>
      </span>
    </div>      
    </div>  


   <div class="mb-3 mb-3-sm">
    <%= f.label :landuse_id, class: "small" %>   
    <div class="input-group">
      <%= f.select :landuse_id, Landuse.order(:name).pluck(:name, :id),  { include_blank: true }, class: "form-control input-sm" %>
      <span class="input-group-text">
	<%= link_to landuses_path(per_page: 10, format: :modal), "data-bs-toggle" => "modal", "data-bs-target" => "#search-modal", "data-input" => "#place_landuse_id" do %>
	<%= bi_icon('search') %>
	<% end %>
      </span>
    </div>      
    </div>   

</fieldset>

<fieldset class="stonefieldset">
<legend>Detailed Description</legend>

   <div class="mb-3 mb-3-sm place-is-parent-select">
    <%= f.label :lightsituation, class: "small" %>
    <%= f.text_field :lightsituation, class: "form-control input-sm" %>
  </div>
  
  <div class="mb-3 mb-3-sm place-is-parent-select">
    <%= f.label :slope_description, class: "small" %>
    <%= f.text_field :slope_description, class: "form-control input-sm",  placeholder: "degrees"  %>
  </div>

   <div class="mb-3 mb-3-sm place-is-parent-select">  
    <%= f.label :aspect, class: "small" %>
    <%= f.text_field :aspect, class: "form-control input-sm", placeholder: "(N, S, E, W) or azimuthal degree", size: 25 %>
  </div>


	<div class="mb-3 mb-3-sm placedescription">
	    <%= f.label :description, class: "small" %>
	    <%= f.text_area  :description, class: "form-control input-sm",placeholder: "- required -", row: 3 %>
	</div>  


    
</fieldset>

<% if defined?(editview).nil? %>
<fieldset class="stonefieldset">
<legend>Metadata Access</legend>

	  <div style="display:none" class="mb-3 mb-3-sm">
	  <%= f.label :@current_user, "Owner", class: "small" %>
	    <div class="input-group">
		<span class="input-group-text">		      
			<%= @current_user.username %>
		</span>
	    </div>  
	</div>

	  <div class="mb-3 mb-3-sm">
		  <%= f.fields_for :record_property_attributes do |r| %>
			  <label class="small">Group</label>
			  <div >
					    <%= r.select :group_id ,@current_user.groups.order(:name).pluck(:name, :id), {selected: group_id,  include_blank: true }, class: "form-control input-sm" %>
					    <%= r.hidden_field :user_id ,value: @current_user.id %>
		                            <%= r.hidden_field :guest_readable , value: "true" %>					    
			  </div>
		  <% end %>
	</div>	

</fieldset>
<% end %>


<div class="mb-3 mb-3-sm">
	  <label class="small">Save</label>
	  <div>
	    <%= f.button class: "btn btn-secondary btn-sm" do %>
	    <%= bi_icon('save') %>
	    <% end %>
	  </div>
</div>


