 <%= paginate @places %>

<%= link_to "New Entry", places_path(anchor: "newentry"), class: "btn btn-secondary newentrybutton" %>

<table class="table table-sm table-striped">
  <thead class="searchheader">
    <%= search_form_for @search do |f| %>
    <tr>
	    <th></th><th colspan="6"><u> Search and filter <%= Place.model_name.human%></u></th> <th></th><th></th> <th></th><th></th>
	    <%= th_if_expand do %>    
		<th></th><th></th><th></th><th></th>      <th></th>
	    <%end%>
    </tr>    
    <tr>
      <th>Entries per page</th>
      <th><%= sort_link @search, :name, Place.human_attribute_name("name") %></th>
      <th><%= Place.human_attribute_name("parent") %></th> 
      <th>Collector</th>     
      <th><%= sort_link @search, :latitude, Place.human_attribute_name("latitude") %></th>
      <th><%= sort_link @search, :longitude, Place.human_attribute_name("longitude") %></th>
      <th><%= sort_link @search, :elevation, Place.human_attribute_name("elevation") %></th>
      <th><%= Stone.model_name.human+"s" %></th><!-- don't sort -->
      <%= th_if_expand do %>
        <%= sort_link @search, :user_username, "owner" %>
      <% end %>
      <th><%= sort_link @search, :group_name, "group" %></th>
      <%= th_if_expand do %>
        <%= sort_link @search, :vegetation_name, Place.human_attribute_name("vegetation") %>
      <%end%>
      <%= th_if_expand do %>
	<%= sort_link @search, :topographic_position_name, Place.human_attribute_name("topographic_position") %>
      <%end%>
      <%= th_if_expand do %>      
	<%= sort_link @search, :landuse_name, Place.human_attribute_name("landuse") %>
	      <%end%>
      <%= th_if_expand do %>      
        <%= sort_link @search, :record_property_published_at, "published" %>
      <% end %>
      
      
      <th><%= sort_link @search, :updated_at, "updated-at" %></th>
      <%= th_if_expand do %>
        <%= sort_link @search, :created_at, "created-at" %>
      <% end %>
      <th><%= toggle_column_link %></th>
    </tr>
    <tr>
      <th><%= text_field_tag :per_page, (params[:per_page] || Place.default_per_page), size: 1 %>
             <%= f.button class: "btn btn-secondary btn-sm" do %>
       <%= bi_icon('refresh') %>
        <% end %> 
      </th>
      <th><%= f.text_field :name_cont, class: "form-control input-sm", placeholder: "search:", size: 15 %></th>
      <th><%= f.text_field :parent_name_cont, class: "form-control input-sm", placeholder: "search:", size: 15 %></th>
      <th><%= f.text_field :stones_collectors_name_cont, class: "form-control input-sm", placeholder: "search:", size: 10 %></th>      
      <th><%= f.text_field :latitude_gteq, class: "form-control input-sm", placeholder: "min:(-90<x<90)", size: 15 %></th>
      <th><%= f.text_field :longitude_gteq, class: "form-control input-sm", placeholder: "min:(-180<x<180)", size: 15 %></th>
      <th><%= f.text_field :elevation_gteq, class: "form-control input-sm", placeholder: "min: [meters]", size: 15 %></th>
      <th></th>
      <%= th_if_expand do %>
        <%= f.text_field :user_username_cont, class: "form-control input-sm", placeholder: "search:", size: 15 %>
      <% end %>
      <th><%= f.text_field :group_name_cont, class: "form-control input-sm", placeholder: "search:", size: 15 %></th>
      <%= th_if_expand do %><%= f.select :vegetation_name_cont, Vegetation.order(:name).pluck(:name),{:include_blank =>  'search:' }, class: "form-control input-sm" %><% end %>
      <%= th_if_expand do %><%= f.select :topographic_position_name_eq, TopographicPosition.order(:name).pluck(:name),{:include_blank =>  'search:' }, class: "form-control input-sm" %><% end %>
      <%= th_if_expand do %><%= f.select :landuse_name_cont, Landuse.order(:name).pluck(:name),{:include_blank =>  'search:' }, class: "form-control input-sm" %><% end %>
      <%= th_if_expand do %>
        <%= f.select :record_property_published_eq, [true, false], { include_blank: true }, class: "form-control input-sm" %>
      <% end %>
      <th>
        <%= f.text_field :updated_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:updated_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <%= th_if_expand do %>
        <%= f.text_field :created_at_gteq, placeholder: "from:", value: format_date(params[:q] && params[:q][:created_at_gteq]), class: "form-control input-sm datepicker", size: 10 %>
      <% end %>
      <th></th>      
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th> 
      <th></th>       
      <th><%= f.text_field :latitude_lteq, class: "form-control input-sm", placeholder: "max:(-90<x<90)", size: 15 %></th>
      <th><%= f.text_field :longitude_lteq, class: "form-control input-sm", placeholder: "max:(-180<x<180)", size: 15 %></th>
      <th><%= f.text_field :elevation_lteq, class: "form-control input-sm", placeholder: "max: [meters]", size: 15 %></th>
      <th></th>
      <%= th_if_expand nil %>
      <th></th>
      <%= th_if_expand nil %>
      <%= th_if_expand nil %>
      <%= th_if_expand nil %>         
      <%= th_if_expand nil %>      
      <th>
        <%= f.text_field :updated_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:updated_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      </th>
      <%= th_if_expand do %>
        <%= f.text_field :created_at_lteq_end_of_day, placeholder: "to:", value: format_date(params[:q] && params[:q][:created_at_lteq_end_of_day]), class: "form-control input-sm datepicker", size: 10 %>
      <% end %>
      <th></th>      
    </tr>
    <% end %>
  </thead>
  <tbody>
    <%= form_tag bundle_edit_places_path, id: "bundle-form" do %>
    <%= render partial: :place, collection: PlaceDecorator.decorate_collection(@places), locals: { checked: false } %>
    <% end %>

  </tbody>
  <tfoot>
      <tr><th><%= check_box_tag nil, nil, false, class: "select-row-all" %> Select all </th></tr>
      <tr><th><%= link_to "bundle edit", "#", onclick: "$('#bundle-form').submit();; return false;", class: "btn btn-secondary" %></th></tr>
  </tfoot>


</table>
<hr>
<div id="newentry">
   <u>Create <%= Place.model_name.human%> here:</u>
   <%  place = Place.new %>
   <%= form_for place, remote: true, format: :json, html: { class: "create" } do |f| %>
	<%= render partial: "new", locals: { place: place, f:f, group_id: place.group_id  } %>
   <% end %>
</div>

<div id="csv-control">
  To create place records at once, download
  <%= link_to "template", new_place_path(format: :csv) %>,
  and modify, then upload.
  <%= form_tag(import_places_path, method: :post, multipart: true) do %>
    <%= file_field_tag :data %>
    <%= submit_tag :upload %>
  <% end %>
</div>

<%= javascript_tag do %>
  $(document).on("succeed.ajaxForm", "#new_place", function() {
    $("#place_search").submit();
  });
<% end %>
