<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menubar" aria-controls="menubar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menubar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><%= active_link_to "View all entries", records_path, class: "nav-link" %></li>
        <li class="nav-item"><%= active_link_to "Map", root_path, :active => :exclusive, class: "nav-link" %></li> 
        <li class="nav-item"><%= active_link_to "Sampling Campaign", collections_path, class: "nav-link" %></li>      
        <li class="nav-item"><%= active_link_to "Sampling Location", places_path, class: "nav-link" %></li>
        <li class="nav-item"><%= active_link_to "Storageroom/Box", boxes_path, class: "nav-link" %></li>
        <li class="nav-item"><%= active_link_to "Sample", stones_path, class: "nav-link" %></li>
        <li class="nav-item"><%= active_link_to "Analysis", analyses_path, class: "nav-link" %></li>
        <li class="nav-item"><%= active_link_to "File", attachment_files_path, class: "nav-link" %></li>      
        <li class="nav-item"><%= active_link_to "Bibliography", bibs_path, class: "nav-link" %></li>
        <li class="nav-item"><%= active_link_to "Import of CSV", stagings_path, class: "nav-link" %></li>      
      </ul>
      <%= render partial: "layouts/navbar_common_part" %>
    </div>
  </div>
</nav>
